<!--div do rodape-->
<div class="container-fluid " style="background: rgb(36, 36, 36);">
    <!--rodape com uso de footer-->
    <footer style=" background: rgb(36, 36, 36); color: aliceblue;">
      <!--linha das colunas-->
      <div class="row">
        <!--coluna 1-->
        <div class="col-5 offset-1 my-3">
        <p> FACULDADE SAO JUDAS TADEU </p>
        <p>GRUPO LOS-QUARENTENOS:</p>
        <p> Diego Ferreira - RA:819151877 </p>
        <p> Ezequiel Adrian - RA:819161407 </p>
        <p> Joao Guilherme - RA:819164180 </p>
        <p> Gabriel Kenji - RA:819168450 </p>
        </div>
        <!--coluna 2-->
        <div class="col-5  my-3">
        <p> Vagner Furlan - RA:819213734 </p>
        <p> Gabriel Tamaro - RA:820140901 </p>
        <p> Felipe Vasconselos - RA:81920709 </p>
        <p> Bruno Abe - RA: *inserir* </p>
        </div>

      </div>

    </footer>
  </div>
